<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <appSettings>
    <add key="SourceFile" value=""/>
    <add key="MembersFile" value=""/>
    <add key="DepartmentsFile" value=""/>
    <add key="RelationFile" value=""/>
    <add key="TargetFile" value=""/> 
  </appSettings>
</configuration>